@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
$red: #ff3b30;

* {
  font-family: 'Nunito Sans', sans-serif;
}

.device-cordova.device-ios {
  height: 100vh;
}

.navbar-text {
  font-size: 24px;
  font-weight: 500;
  margin: 2px;
}

.warning {
  font-weight: 600;
  color: #ff3b30;
  text-align: center;
  margin: 2em;
  font-size: 1.2em;
}

.account-page {
  .account-user {
    .item-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .item-title {
      font-weight: normal;
    }

    .item-subtitle {
      opacity: 0.55;
    }

    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }
  }
}
